<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Blog</title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css"/>
    {% block head %}{% endblock %}
  </head>
  <body class="md:flex">
    {% block content %}
      <div class="mt-4 md:mt-0 md:ml-6">
        <h1 class="uppercase tracking-wide text-sm font-bold">{{ pageTitle }}</h1>
        <div class="block mt-1 text-lg">{{ content | safe }}</div>
      </div>
    {% endblock %}
    <script src="/assets/main.js"></script>
  </body>
</html>